<html>
<head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=VT323');
		
		input[type=submit] {
			background-image:url('images/button.png');
			background-size:cover;
			font-family: 'VT323';
			color:black;
		}
	</style>
</head>
<body style="background-image:url('https://anlucas.neocities.org/tealmarble.gif');background-size:repeat;">
	<center>
		<img src="images/button.png">
		<p>Show everyone what a prick you are!</p>
		<p style="color:white;">User ID here idiot (NOT your username):</p>
		<form action="https://sa-probebadge.herokuapp.com/api/probebadge" method="GET">
			<input type="text" name="userid"/>
			<input type="submit"/>
		</form>
		<p style="color:white;"><b>MAKE SURE YOU WRAP THE URL YOU\'RE GIVEN IN [IMG] TAGS!</b></p>
	</center>
</body>
</html>