<html>
<head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=VT323');
		
		body {
			font-family: "Comic Sans MS", "Comic Sans";
			font-size: 1.5em;
		}
		input[type=submit] {
			background-image:url('images/button.png');
			background-size:cover;
			font-family: 'VT323';
			font-size: 1em;
			color:black;
		}
		input[type=text] {
			font-family: 'VT323';
			font-size:0.9em;
		}
	</style>
	
	<script src="scripts/howler.js/dist/howler.js"></script>
	<script>
		// load audio
		var bgmusic = new Howl({
			src: ["{{url_for('static', filename='lain.mp3')}}"],
			autoplay: true,
			volume:75,
			loop:true
		});
		bgmusic.play();
		window.onload = function() {
			bgmusic.play();
		}
	</script>
	
</head>
<body style="background-image:url('https://anlucas.neocities.org/tealmarble.gif');background-size:repeat;">
	<center>
		<img src="https://i.imgur.com/PISLmiA.png">
		<p>Show everyone what a prick you are!</p>
		<p><b>User ID here idiot (NOT your username):</b></p>
		<form action="https://sa-probebadge.herokuapp.com/api/probebadge" method="GET">
			<input type="text" name="userid"/>
			<input type="submit"/>
		</form>
		<p style="color:red;"><b>MAKE SURE YOU WRAP THE URL YOU\'RE GIVEN IN [IMG] TAGS!</b></p>
	</center>
</body>
</html>